.section-container {
  width: 1300px;
  max-width: var(--cWidth);
  margin: 0 auto;
}
.title,
.para {
  font-kerning: none;
  text-rendering: optimizeSpeed;
  transform: translateZ(0);
}
.hover-link {
  position: relative;
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
}
.hover-in {
  position: relative;
  transition: 0.3s;
}
.hover-in div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
}
.hover-link:hover .hover-in {
  transform: translateY(-100%);
  color: var(--accentColor);
}
@media only screen and (max-width: 1600px) {
  .section-container {
    width: 1200px;
    max-width: calc(100% - 160px);
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: 500px;
    max-width: var(--cWidth);
  }
}
